<div class="mt-5">
  <div class="text-center">
    <div>
        <p style="color: red;"><%= flash[:message]%></p>
    </div>
  </div>
</div>

<div class="mt-5 mb-5 pb-5">
  <!-- <div style="margin-top: 12%;">
    </div> -->

  <form class="text-center border border-light p-5" action="/login" method="post">
    <p class="h4 mb-4">Log In</p>
    <div class="form-group row">
      <label for="email_address" class="col-2 col-form-label">Email: </label>
      <div class="col-10">
        <input class="form-control" type="text" name="email_address" id="email_address">
      </div>
    </div>
    <div class="form-group row">
      <label for="password" class="col-2 col-form-label">Password: </label>
      <div class="col-10">
        <input class="form-control" type="password" name="password" id="password">
      </div>
    </div>

    <input type="submit" value="Log In" class="btn btn-block btn-success my-4"></input>

    <p>Not a member?
        <a href="/signup">Sign Up</a>
    </p>
  </form>
  <!-- <div style="margin-bottom: 5%;">
    </div> -->
</div>
