<div class="mt-5">
  <div class="text-center">
    <div>
        <p style="color: red;"><%= flash[:message]%></p>
    </div>
  </div>
</div>

<div class="mt-5">
  <form action="/login" method="post">
    <div class="form-group row">
      <label for="email_address" class="col-2 col-form-label">Email: </label>
      <div class="col-10">
        <input class="form-control" type="text" name="email_address" id="email_address">
      </div>
    </div>
    <div class="form-group row">
      <label for="password" class="col-2 col-form-label">Password: </label>
      <div class="col-10">
        <input class="form-control" type="password" name="password" id="password">
      </div>
    </div>
    <div class="text-center">
      <input type="submit" value="Log In" class="btn btn-success"></input>
    </div>
    </form>
  </div>
  <div class="col-md-5 mx-auto">
  </div>
</div>
