
  <div class="row align-items-center h-100 mt-5 no-gutters">

    <div class="mx-auto col-md-6 order-2">
      <img class="img-fluid" src="https://previews.123rf.com/images/deylana/deylana1712/deylana171200007/91172833-vector-line-style-illustration-garage-sale-yard-sale-flyer-template-design-element-for-posters-banne.jpg" style="width: 480px;">
    </div>

    <div class="col-md-6 order-1 text-center text-md-right pr-md-5">
        <% if @current_user %>
          <h2>Hi, <%= @current_user.first_name %></h2><br>
          <h1>Find a Yawdsale:</h1><br>
          <p>Search by: </p>
          <form action="/yawdsales/search" method="GET">
            <div class="form-group">
              <label for="street_address">Street Address (optional): </label>
              <input type="text" name="street_address" id="street_address"></input><p></p>
            </div>
            <div class="form-group">
              <label for="city">City: </label>
              <input type="text" name="city" id="city"></input>
            </div>
            <div class="form-group">
              <label for="state">State: </label>
              <input type="text" name="state" id="state"></input>
            </div>
            <div class="form-group">
              <label for="zipcode">Zipcode (optional): </label>
              <input type="text" name="zipcode" id="zipcode"></input>
            </div>
            <div class="form-group">
              <select class="custom-select mr-sm-1" name="distance" id="distance">
               <option selected>Distance...</option>
               <option value="1">1 miles</option>
               <option value="5">5 miles</option>
               <option value="10">10 miles</option>
             </select>
           </div>
            <div class="form-group">
              <input class="btn btn-success" type="submit" value="Search"></input>
            </div>
          </form>
        <% else %>
          <h3>Find some great bargains in your area</h3>
          <h4><a href="/signup">Sign Up</a> or <a href="/login">Log In</h4>
        <% end %>
    </div>

  </div>
